body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:40px;
    margin-top: 150px;
}

#container{
    width: 320px;
    height:300px;
    padding: 15px;
    background: #222;
    border-radius: 10px;
}
#buttons{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.display{
    margin-bottom: 50px;
    color:white;
}
#footer{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}