body {
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.game-container {
    width: 95%;
}
.choices{
    display: flex;
    justify-content:space-between;
}
.SCORE-BOARD{
    display: flex;
    justify-content:space-between ;
    font-size: large;
    font-weight: 600;
    color:rgb(92, 92, 182);
    background-color: aliceblue;
    border-radius: 5%;
    margin-bottom: 20px;
    gap:1
}
span {
    font-size: larger;
    font-weight:700 ;
}
button{
    padding:5px;
    gap:10px;
    font-weight: 700;
    border-radius: 10%;
    background-color: aliceblue;  
}